<a name="Exercise"></a>
## Exercise

## SQLITE

**1**: Read all the data from bc.csv, how many rows is there ? Columns ? 

**2**: Insert the bc.csv in the sqlite format.

**3**: In the same db create a new table called tomatch with two variables id_ and rdm_float. 

**4**: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.

**5**: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

**6**: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

**7**: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups

**8**: Change the name of the column "diagnosis" to "label"

**9**: Add a column named "day" of type DATE.

**10**: Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)

**11**: create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.

**12**: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2. 

## MySQL

**1**: How many orders were placed in total?

**2**: What is the total sales amount?

**3**: What is the average profit per order?

**4**: Which customer has placed the most orders?

**5**: What is the total profit for each product category?

**6**: What is the average discount percentage?

**7**: Which region has the highest total sales?

**8**: How many orders were shipped using each shipping mode?

**9**: What is the total quantity ordered for each product sub-category?

**10**: Which product has the highest profit margin?

**11**: What is the total sales amount for each year?

**12**: Which customer segment has the highest average sales?

## PostgreSQL

**1**: What is the average age of the customers?

**2**: How many customers have defaulted on loans?

**3**: What is the maximum balance in the account?

**4**: How many customers have a housing loan?

**5**: What is the education level of the youngest customer?

**6**: What is the marital status of the oldest customer?

**7**: What is the distribution of the months in which customers were last contacted?

**8**: What is the average duration of contact for customers who have a personal loan?

**9**: How many customers were previously contacted, and what was the average duration of their last contact?

**10**: What is the distribution of job types among customers?

**11**: How many customers have been contacted more than once in the current campaign?

**12**: What is the success rate of previous marketing campaigns (poutcome) among customers

SQLite:

In [1]:

#1: Read all the data from bc.csv, how many rows is there ? Columns ? 

import pandas as pd

df =pd.read_csv("/Users/valen/Desktop/data/Chap1/bc.csv")
li, col = df.shape
print("Ce DF contient", li,"lignes et", col,"colonnes")
df

Ce DF contient 569 lignes et 33 colonnes

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [2]:
#2: Insert the bc.csv in the sqlite format.
import sqlite3

conn = sqlite3.connect('/Users/valen/Desktop/SAS/BC.db')
c = conn.cursor()

In [3]:
#3: In the same db create a new table called tomatch with two variables id_ and rdm_float. 
c.execute("""CREATE TABLE tomatch3 (
          id INT PRIMARY KEY,
          rdm_float VARCHAR(100)
) """)

conn.commit()

In [4]:
#4: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.
import tqdm
import random as rd

query = """INSERT INTO tomatch3(id, rdm_float) VALUES (?,?)"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,1)):
    values = (i,rd.random())
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        list_of_insertion = []
conn.commit()

  0%|          | 0/9950000 [00:00<?, ?it/s]

100%|██████████| 9950000/9950000 [00:21<00:00, 455416.85it/s]

In [5]:
conn = sqlite3.connect('/Users/valen/Desktop/SAS/BC.db')
c = conn.cursor()

# Dictionary to hold results
results = {}

# Fetch count of rows in each table
c.execute("SELECT COUNT(*) FROM bc")
results['bc_rows'] = c.fetchone()[0]
c.execute("SELECT COUNT(*) FROM tomatch3")
results['tomatch3_rows'] = c.fetchone()[0]

conn.close()
print(results)

{'bc_rows': 569, 'tomatch3_rows': 9950000}

In [8]:
#**5**: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.
# Execute the corrected SQL query
c.execute("""
CREATE TABLE IF NOT EXISTS Newtomatch
SELECT 
    AVG(bc.texture_worst) AS average_value,
    COUNT(bc.texture_worst) AS count_value,
    MAX(bc.texture_worst) AS max_value,
    MIN(bc.texture_worst) AS min_value 
FROM 
    bc
INNER JOIN 
    tomatch3 ON bc.id = tomatch3.id
""")

# Commit changes if needed (depends on your DBMS)
conn.commit()

# Try fetching data to see if the table was created
c.execute("SELECT * FROM Newtomatch")
print(c.fetchall())

# Don't forget to close your connection when done
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [9]:
c.execute("SELECT * FROM Newtomatch")

In [8]:
#**6**: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

c.execute("""
SELECT COUNT(*) 
FROM Newtomatch WHERE radius_mean > 15
""")
total_radius_greater_15 = c.fetchone()[0]

c.execute("""
SELECT COUNT(*) 
FROM Newtomatch WHERE radius_mean > 15 AND texture_mean > 20
""")
total_radius_and_texture = c.fetchone()[0]

print(f"total_radius_greater_15 : {total_radius_greater_15}")
print(f"total_radius_and_texture: {total_radius_and_texture}")

OperationalError: no such column: radius_mean

In [13]:
#**7**: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups
c.execute("""
SELECT diagnosis,
    ROUND(AVG(radius_mean), 2) AS average_radius
FROM bc GROUP BY diagnosis
""")
results = c.fetchall()

if len(results) == 2:  
    difference = abs(results[0][1] - results[1][1])
    print(f"Mean Radius for {results[0][0]}: {results[0][1]}")
    print(f"Mean Radius for {results[1][0]}: {results[1][1]}")
    print(f"Difference between means: {difference:.2f}")
else:
    print("Unexpected number of diagnosis categories.")

Mean Radius for B: 12.15
Mean Radius for M: 17.46
Difference between means: 5.31

In [14]:
#**8**: Change the name of the column "diagnosis" to "label"
c.execute("""
ALTER TABLE bc
RENAME COLUMN diagnosis TO label
""")
conn.commit()

In [16]:
#**9**: Add a column named "day" of type DATE.
c.execute("""
ALTER TABLE bc
ADD COLUMN day DATE
""")
conn.commit()

OperationalError: duplicate column name: day

In [18]:
#**10**: Change the type of the column "area_mean" to int (hint,if not possible on sqlite, create a new column)
c.execute("""
ALTER TABLE bc
ADD COLUMN area_mean_int INTEGER
""")
conn.commit()
c.execute("""
UPDATE bc
SET area_mean_int = CAST(area_mean AS INTEGER)
""")
conn.commit()

In [22]:
#**11**: create a new table called tomatch6 exactly the same way as tomatch3 except you increment id_ by 10.
c.execute("""
CREATE TABLE tomatch6 (
    id INTEGER PRIMARY KEY,
    rdm_float VARCHAR(100)
)
""")

conn.commit()
last_id = 10 
increment = 10 

c.execute("SELECT MAX(id) FROM tomatch6")
result = c.fetchone()
if result[0] is not None:
    last_id = result[0] + increment

c.execute("INSERT INTO tomatch6 (id, rdm_float) VALUES (?, ?)", (last_id, 'Example value'))
conn.commit()

In [10]:
#**12**: Do an inner join of bc, tomatch3 and tomatch6 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch3 AND tomatch6.

c.execute("""
CREATE TABLE test AS
SELECT
    bc.*, tomatch3.rdm_float AS rdm_float3, tomatch6.rdm_float AS rdm_float6
FROM 
    bc
INNER JOIN 
    tomatch3 ON bc.id = tomatch3.id
INNER JOIN 
    tomatch6 ON bc.id = tomatch6.id
WHERE 
    bc.radius_mean > 15 AND 
    tomatch3.rdm_float > 0.50 AND 
    tomatch6.rdm_float > 0.50
""")
results = c.fetchall()

MySQL

**1**: How many orders were placed in total?

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()
c.execute("""SELECT COUNT(`Order ID`) AS total_commandes
             FROM sample_superstore""")

c.fetchone()[0]

175

**2**: What is the total sales amount?

In [27]:
c.execute("""SELECT SUM(`Sales`) AS total_sales
             FROM sample_superstore""")

c.fetchone()[0]

130555.31000000006

**3**: What is the average profit per order?

In [30]:
c.execute("""
          SELECT `Order ID` , 
          AVG(Profit) AS avg_profit
          FROM m1_ds2e.sample_superstore
          GROUP BY `Order ID`""")
c.fetchall()

[(88525, 1.32),
 (88522, 4.56),
 (88523, 306.6841),
 (88524, 1388.0523),
 (88526, 1001.4453),
 (90193, 4390.3665),
 (90197, -141.26),
 (90194, 1045.4673),
 (90200, 406.7419),
 (90198, 72.9928),
 (90199, -252.67759875000002),
 (90195, 142.7955),
 (90192, -53.8096),
 (90196, 23.12),
 (86838, 185.425125),
 (86845, -44.54),
 (86837, -59.82),
 (86839, 261.8757),
 (86840, -1.17),
 (86841, -24.03),
 (86842, 23.2668),
 (86843, -174.2696),
 (86836, 327.68155),
 (86844, 3.4595),
 (90033, -6.82),
 (90034, -96.33),
 (90031, 314.4813),
 (90035, 164.48680000000002),
 (90038, -17.49),
 (90039, 139.54835),
 (90032, -114.6399),
 (90036, -491.73199999999997),
 (90037, -41.82),
 (41793, 384.38),
 (42949, -66.06495),
 (55269, -41.82),
 (9895, -6.82),
 (17860, -96.33),
 (26887, 172.27274999999997),
 (50533, -491.73199999999997),
 (18596, 174.845),
 (87655, 571.89495),
 (87660, 83.24),
 (87669, 353.77216),
 (87651, -16.802),
 (87656, 1489.8411),
 (87662, -23.415),
 (87663, -88.102),
 (87657, -10.58),
 (87666, 677.50343),
 (87658, 420.984),
 (87667, 19.4097),
 (87670, -24.118176000000002),
 (87652, 8.89400000000001),
 (87659, 149.84715),
 (87661, 33.4144),
 (87668, 847.943712),
 (87653, -2.2072),
 (87665, 28.81),
 (87654, -120.52304),
 (87664, -1.6864),
 (89206, -43.3316),
 (89199, 144.69),
 (89200, -35.8788),
 (89202, 209.997),
 (89203, 2568.096),
 (89207, 345.0),
 (89201, -30.062800000000003),
 (89205, -75.12168),
 (89208, -88.57148),
 (91256, 803.39986),
 (91257, 165.501),
 (88682, -3.3599999999999994),
 (88684, -15.464),
 (88683, -71.44),
 (91455, 24.1868),
 (91458, 43.271712),
 (91454, 25.91382),
 (91456, -17.58),
 (91457, -336.38464),
 (91578, 338.6244),
 (91579, -35.906),
 (87712, -4.359171999999999),
 (87713, 60.8097),
 (87714, 4.772579999999998),
 (87715, 229.0593),
 (87710, -12.82),
 (87711, 7.27),
 (87716, 391.7199),
 (87717, -45.1),
 (87718, 526.608),
 (87719, -24.08),
 (88426, 47.588),
 (88427, 378.1614),
 (88428, 3.328),
 (88425, -6923.5992),
 (88429, 23.1564),
 (88076, -1513.264896),
 (88077, -211.0644),
 (88081, 39.080775),
 (88075, 8.9879),
 (88079, 47.0972),
 (88080, -12.321250000000006),
 (88082, 3234.0946620000004),
 (88078, -143.8648),
 (87413, -47.910000000000004),
 (87416, -157.18),
 (87417, -675.62),
 (87410, -0.18520000000000003),
 (87420, -180.46656),
 (87409, 185.266),
 (87411, 77.372),
 (87412, 25.116),
 (87414, 28.59475),
 (87422, 303.4416),
 (87407, 2.14),
 (87408, 349.4091),
 (87415, 44.495),
 (87423, -103.96848),
 (87418, 574.96995),
 (87419, 247.26885),
 (87406, 31.980449999999998),
 (87421, -218.9761),
 (87948, 1381.9886999999999),
 (87951, 95.3787),
 (87946, 845.664),
 (87949, -770.6166000000001)]

**4**: Which customer has placed the most orders?

In [43]:
c.execute("""
    SELECT `Customer Name`, COUNT(*) AS order_count
    FROM sample_superstore
    GROUP BY `Customer ID`, `Customer Name`
    ORDER BY order_count DESC
    LIMIT 1
""")

most_orders_customer = c.fetchone()

customer_name, order_count = most_orders_customer
customer_name, order_count

('Tony Wilkins Winters', 12)

**5**: What is the total profit for each product category?

In [47]:
c.execute("""
    SELECT `Product Category`, SUM(`Profit`) AS total_profit
    FROM sample_superstore
    GROUP BY `Product Category`
    ORDER BY total_profit DESC
""")

c.fetchall()

[('Office Supplies', 11605.983540000001),
 ('Technology', 10225.340091999999),
 ('Furniture', 1976.0725965000036)]

**6**: What is the average discount percentage?

In [49]:
c.execute("""
    SELECT AVG(`Discount`) AS average_discount
    FROM sample_superstore
""")

c.fetchone()[0]* 100

4.96571428571428

**7**: Which region has the highest total sales?

In [60]:
c.execute("""
    SELECT `Region`, SUM(`Sales`) AS total_sales
    FROM sample_superstore
    GROUP BY `Region`
    ORDER BY total_sales DESC
    LIMIT 1
""")

c.fetchone()

('West', 75678.49999999999)

**8**: How many orders were shipped using each shipping mode?

In [55]:
query = """
    SELECT `Ship Mode`, 
    COUNT(DISTINCT `Order ID`) AS Total_Orders_Shipped
    FROM sample_superstore 
    GROUP BY `Ship Mode`
"""

c.fetchall()

[('Regular Air', 131), ('Express Air', 23), ('Delivery Truck', 21)]

**9**: What is the total quantity ordered for each product sub-category?

In [62]:
c.execute("""
    SELECT `Product Sub-Category`, SUM(`Quantity ordered new`) AS total_Q_o_n
    FROM sample_superstore
    GROUP BY `Product Sub-Category`
    ORDER BY total_Q_o_n DESC
""")

c.fetchall()

[('Paper', Decimal('286')),
 ('Telephones and Communication', Decimal('252')),
 ('Office Furnishings', Decimal('233')),
 ('Pens & Art Supplies', Decimal('196')),
 ('Appliances', Decimal('184')),
 ('Labels', Decimal('171')),
 ('Chairs & Chairmats', Decimal('166')),
 ('Binders and Binder Accessories', Decimal('129')),
 ('Office Machines', Decimal('123')),
 ('Storage & Organization', Decimal('121')),
 ('Rubber Bands', Decimal('119')),
 ('Computer Peripherals', Decimal('69')),
 ('Tables', Decimal('50')),
 ('Envelopes', Decimal('46')),
 ('Bookcases', Decimal('39')),
 ('Scissors, Rulers and Trimmers', Decimal('24')),
 ('Copiers and Fax', Decimal('5'))]

**10**: Which product has the highest profit margin?

In [70]:
query = """
    SELECT `Product Name`, `Product Base Margin`
    FROM sample_superstore
    ORDER BY `Product Base Margin` DESC
    LIMIT 1
"""

c.execute(query)
c.fetchone()

('Accessory29', 0.83)

**11**: What is the total sales amount for each year?

In [103]:
query = """
    SELECT RIGHT(`Order Date`, 4) AS Year, 
    SUM(`Sales`) AS total_sales
    FROM sample_superstore
    GROUP BY Year
    ORDER BY Year
"""

c.execute(query)
c.fetchall()

[('2010', 25377.779999999995),
 ('2011', 12048.119999999997),
 ('2012', 44893.209999999985),
 ('2013', 48236.200000000004)]

**12**: Which customer segment has the highest average sales?

In [104]:
query = """
    SELECT `Customer Segment`, AVG(`Sales`) AS avg_sales
    FROM sample_superstore
    GROUP BY `Customer Segment`
    ORDER BY avg_sales DESC
    LIMIT 1
"""

c.execute(query)
c.fetchone()

('Small Business', 1041.5648076923078)

PostgreSQL

In [11]:
#**1**: What is the average age of the customers?

In [ ]:
#**2**: How many customers have defaulted on loans?

In [ ]:
#**3**: What is the maximum balance in the account?

In [ ]:
#**4**: How many customers have a housing loan?

In [ ]:
#**5**: What is the education level of the youngest customer?

In [ ]:
#**6**: What is the marital status of the oldest customer?

In [ ]:
#**7**: What is the distribution of the months in which customers were last contacted?

In [ ]:
#**8**: What is the average duration of contact for customers who have a personal loan?

In [ ]:
#**9**: How many customers were previously contacted, and what was the average duration of their last contact?

In [ ]:
#**10**: What is the distribution of job types among customers?

In [ ]:
#**11**: How many customers have been contacted more than once in the current campaign?

In [ ]:
#**12**: What is the success rate of previous marketing campaigns (poutcome) among customers